{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
<div class="ec-role">
    <div class="center-4-imgs">
        <p class="add-check-normal"  style="font-size:24px;font-weight:bold">
            お客さま各位<br><br>
            いつもご利用いただき誠にありがとうございます。<br>
            この度SHOPがリニューアルOPEN致しました。<br>
            リニューアルに催う仕様変更などに伴い、<br>
            一部エラーなどが生じる可能性があります。<br><br>
            ご迷惑をおかけ致しますが何卒よろしくお願い致します。<br>                   
            今後ともアパレル卸問屋.COMを宜しくお願い申し上げます。<br>
        </p><br>

        
    </div>
</div>
{% endblock %}