{#
販売期間設定プラグイン(JsysSalesPeriod)
フロント > 商品一覧・詳細
 - カートインボタン置き換え用の終了後ボタン
#}
<button type="button" class="ec-blockBtn--action" disabled="disabled">
  {% if JsysSalesPeriodConfig.btnstrFinished|default is empty %}
    {{ 'jsys_sales_period.btnstr.finished.default'|trans }}
  {% else %}
    {{ JsysSalesPeriodConfig.btnstrFinished }}
  {% endif %}
</button>